//COLORS
$clr-primary--light: #7ed56f;
$clr-primary--med: #55c57a;
$clr-primary--dark: #28b485;
$clr-grey--dark: #777777;
$clr-white: #eeeeee;
$clr-black: #000000;

//GRID
$grid-width: 114rem;
$gutter-vert: 8rem;
$gutter-horiz: 6rem;
